* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

.salute {
  height: 100vh;
  display: flex;
}

.saluteText {
  color: #333;
  font-size: 60vw;
}

.container {
  background-color: black;
}

.saluteImg {
  width: 100%;
}

.saluteTextContainer {
  flex: 3;
}

.saluteImageContainer {
  flex: 1;
}
