* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteText {
  color: #333;
  font-size: 60vw;
  cursor: default;
}

.container {
  background-color: black;
}

.saluteImg {
  width: 100%;
}

.saluteTextContainer {
  flex: 3;
}

.saluteImageContainer {
  flex: 1;
}

.nameContainer {
  height: 100vh;
  background-color: blueviolet;
}

.name {
  font-size: 20vw;
  color: #333;
  cursor: default;
  line-height: 100vh;
  text-align: center;
  background-color: blanchedalmond;
}

.jobTitleContainer {
  height: 100vh;
  background-color: blueviolet;
}

.dark {
  background-color: black;
  background-image: url(./images/hemp.webp);
 
}


.purple {
  background: blueviolet url(./images/PC2.jpg);

}


.jobTitle {
  font-size: 5vw;
  color: #333;
  cursor: default;
  line-height: 100vh;
}
.projects {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0px 100px;
}